<h1> Movie: <%=@movie.title%> </h1>

<p> The movie was released in <%=@movie.release_date%> and was directed by <%=@movie.director %> </p>

<p> The movie poster: </p>

<img src = "<%= @movie.image_url %>"/>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
      <form action="/movies/<%= @movie.id %>/reviews/new" method="POST" class="form-horizontal formbackgroundcolor">
        
        <div class="form-group">
          <label for="comment" class="col-sm-2 control-label"> Review: </label>
          <div class="col-sm-8">
            <input type="text" name="comment" id="comment" value="" placeholder="Enter review" class="form-control"/>
          </div>
        </div>

        <div class="form-group">
          <label for="score" class="col-sm-2 control-label"> Score: </label>
          <div class="col-sm-8">
            <input type="text" name="score" id="score" value="" placeholder="Enter movie score" class="form-control" />
          </div>
        </div>

        <button type="submit" class="btn-submit btn btn-primary">Submit Review</button>
      </form>
    </div>
  </div>
</body>